<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
    <link href="../css/bootstrap.css" rel="stylesheet" />
    <link href="../css/bootstrap-theme.css" rel="stylesheet" />
    <title>Angular Intro End-to-end Demo</title>
</head>
<body>
    <div class="container">
        <h1>Angular Scope Demo</h1>
        {{ 2+2 }}

        <div>
            Scope-data
        </div>
      
    </div>
    <script src="../js/angular.js"></script>
    <script src="../js/controllers/CustomerController01.js"></script>
</body>
</html>
