<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app>
<head>
    <link href="../css/bootstrap.css" rel="stylesheet" />
    <link href="../css/bootstrap-theme.css" rel="stylesheet" />
    <title>Angular Intro End-to-end Demo</title>
</head>
<body>
    <div class="container">
        <h1>Angular Dependency Injection ($timeout)</h1>

        <div ng-controller="CustomerController02">
            Current counter value: <div class="h2">{{ counter }}</div class="h2">
        </div>
    </div>
    <script src="../js/angular.js"></script>
    <script src="../js/controllers/CustomerController02.js"></script>
</body>
</html>
